*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*colors*/
    --primary-color: #ececec;
    --toggle-color: #ddd;
    --text-color: #000;
    --panel-color: #fff;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --box1-color : #4da3ff;
    --box2-color : #ffe6ac; 
    --box3-color : #e7d1fc;
    --title-icon-color : #fff;

    /*transisi*/
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2 ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 2px solid var(--border-color);
}

nav .logo-name{
    display: flex;
    align-items: center;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 80px;

}
nav .logo-image img{
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 5px;
}

nav .menu-items{
    margin-left: -22px;
    margin-top: 50px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
    padding-left: 20px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.menu-items li:hover{
    list-style: none;
    background-color: #cdcdcd56;
    

}

.menu-items li a{
    display: flex;
    align-items: center;
    height: 70px;
    text-decoration: none;
    position: relative;
}

.menu-items li a:hover:before{
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--border-color);
}


.menu-items li a i{
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-items li a .link-name{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
    padding: 2px;
    color: var(--black-light-color);
}

.nav-links li a:hover .i,
.nav-links li a:hover .link-name{
    color: var(--black-light-color);
}


.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
}

.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    background-color: var(--panel-color);
    width: calc(100% - 250px);
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top i{
    text-decoration: none;
    list-style: none;
    color: var(--black-light-color);
}

.top i:hover{
    content: "";
    color: var(--black-light-color);
}

.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}

.top img{
    width: 40px;
    border-radius: 50%;
}
.garisvertikal{
    position: relative;
    border-left: 1px black solid;
    height: 190px;
    left: 40px;
    bottom: 5px;
}
.logo-profil {
    width: 180px;
    border-radius: 50%;
}
.kepalaprofil {
    top: 50px;
    padding: 20px;
    justify-content: space-between;
    position: relative;
}
.profil {
    display: flex;
    position: relative;

}
.profil p{
    position: relative;
}
.text {
    position: relative;
    padding-left: 80px;
}
.button button{
    border: 0px;
    background-color: rgba(117, 116, 116, 0.526)181, 181, 181;
    padding: 5px;
    border-radius: 5px;
}
.button {
    position: relative;
    padding-left: 50px;
    left: 21rem;
}